table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #d3d3d3;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    border: none;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
